apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: "{{ issuer_name }}"
  namespace: "{{ namespace_name }}"
spec:
  vault:
    server: http://vault.vault
    path: pki/sign/{{ pki_role }}
    auth:
      kubernetes:
        mountPath: /v1/auth/kubernetes
        role: "{{ k8s_auth_role_name }}"
        secretRef:
          name: "{{ ISSUER_SECRET_REF }}"
          key: token